[Unit]
Description=modemcontroller
After=network-online.target
StartLimitIntervalSec=0

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/env python3 /home/dsl-modem/modem.py
Restart=on-failure
RestartSec=10s
RuntimeDirectory=dsl-modem
RuntimeDirectoryPreserve=yes
WorkingDirectory=/run/dsl-modem
User=dsl-modem
Group=dsl-modem
SyslogIdentifier=dsl-modem

[Install]
WantedBy=default.target